# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
.vs/
.vscode/
bin/
bin-int/

# visual studio files
*.user
*.db
*.vcxproj
*.sln
*.filters

# configuration files
*.ini

#makefiles
makefile
/ExampleGame/Profile-Runtime.json
/ExampleGame/Profile-Shutdown.json
/ExampleGame/Profile-Startup.json
