# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
.vs/
.vscode/
bin/
bin-int/

# visual studio files
*.user
*.db
*.vcxproj
*.csproj
*.sln
*.filters
*.aps
*.csproj

# configuration files
*.ini

# makefiles
Makefile
*.make

# profile jsons
/ExampleGame/Profile-Runtime.json
/ExampleGame/Profile-Shutdown.json
/ExampleGame/Profile-Startup.json
/Editor/Profile-Startup.json
/Editor/Profile-Shutdown.json
/Editor/Profile-Runtime.json

# log
/ExampleGame/Log.txt
/Editor/Log.txt
/Editor/styles/Editor.style
/Editor/*.pdb
/Editor/*.dll
