[submodule "Engine/vendor/math"]
	path = Engine/vendor/math
	url = https://github.com/ThomasJowett/3D-Maths-libraries
[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = https://github.com/glfw/GLFW
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Editor\\vendor\\IconFont"]
	path = Editor\\vendor\\IconFont
	url = https://github.com/juliettef/IconFontCppHeaders
