[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = https://github.com/glfw/GLFW
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Editor/vendor/IconFont"]
	path = Editor/vendor/IconFont
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "Editor/vendor/OpenFBX"]
	path = Editor/vendor/OpenFBX
	url = https://github.com/nem0/OpenFBX
[submodule "Engine/vendor/cereal"]
	path = Engine/vendor/cereal
	url = https://github.com/USCiLab/cereal
[submodule "Engine/vendor/TinyXml2"]
	path = Engine/vendor/TinyXml2
	url = https://github.com/leethomason/tinyxml2
[submodule "Engine/vendor/math"]
	path = Engine/vendor/math
	url = https://github.com/ThomasJowett/3D-Maths-libraries
